[submodule "cmake/cable"]
	path = cmake/cable
	url = https://github.com/ethereum/cable
[submodule "depends/libff"]
	path = depends/libff
	url = https://github.com/AztecProtocol/libff
	branch = master
