[submodule "setup-tools/cmake/cable"]
	path = setup-tools/cmake/cable
	url = https://github.com/ethereum/cable
[submodule "setup-tools/depends/libff"]
	path = setup-tools/depends/libff
	url = https://github.com/AztecProtocol/libff
	branch = master
[submodule "setup-tools/depends/libfqfft"]
	path = setup-tools/depends/libfqfft
	url = https://github.com/scipr-lab/libfqfft.git
[submodule "setup-tools/depends/blake2"]
	path = setup-tools/depends/blake2
	url = https://github.com/BLAKE2/BLAKE2.git
[submodule "setup-tools/depends/barretenberg"]
	path = setup-tools/depends/barretenberg
	url = https://github.com/AztecProtocol/barretenberg
