:root {
  --black: #000000;
  --grey: #c7c7c7;
  --red: #ff8272;
  --green: #64fa72;
  --yellow: #fefdc2;
  --blue: #a5d5fe;
  --magenta: #ff8ffd;
  --cyan: #d0d1fe;
  --white: #f1f1f1;
  --brightBlack: #8e8e8e;
  --brightRed: #ffc4bd;
  --brightGreen: #d6fcb9;
  --brightYellow: #fefdd5;
  --brightBlue: #c1e3fe;
  --brightMagenta: #ffb1fe;
  --brightCyan: #e5e6fe;
  --brightWhite: #feffff;
}

html,
body {
  -webkit-text-size-adjust: none;
  background-color: #000;
  height: 100%;
  margin: 0;
}

#screen {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 5000px;
  top: 0;
}

#logo {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='599' height='142' viewBox='0 0 599 142' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M76.3675 5.65685L135.765 65.0538C138.889 68.178 138.889 73.2433 135.765 76.3675L76.3675 135.764C73.2433 138.889 68.178 138.889 65.0538 135.764L5.65687 76.3675C2.53267 73.2433 2.53267 68.178 5.65687 65.0538L65.0538 5.65685C68.178 2.53266 73.2433 2.53266 76.3675 5.65685ZM76.3675 26.8701C73.2433 23.7459 68.178 23.7459 65.0538 26.8701L26.8701 65.0538C23.7459 68.178 23.7459 73.2433 26.8701 76.3675L65.0538 114.551C68.178 117.675 73.2433 117.675 76.3675 114.551L114.551 76.3675C117.675 73.2433 117.675 68.178 114.551 65.0538L76.3675 26.8701Z' fill='white'/%3E%3Cpath opacity='0.9' d='M93.3381 65.0538L76.3675 48.0833C73.2433 44.9591 68.178 44.9591 65.0538 48.0833L48.0833 65.0538C44.9591 68.178 44.9591 73.2433 48.0833 76.3675L65.0538 93.3381C68.178 96.4623 73.2433 96.4623 76.3675 93.3381L93.3381 76.3675C96.4623 73.2433 96.4623 68.178 93.3381 65.0538Z' fill='white'/%3E%3Cpath d='M211.32 32.0014L245.589 109.72H229.76L221.706 90.8052H187.216L179.718 109.72H164L195.991 32.0014H211.32ZM191.77 79.4005H216.819L203.711 48.6356L191.77 79.4005ZM333.497 32.0014L288.287 97.9818H333.719V109.72H262.517L307.671 43.7399H265.238V32.0014H333.497ZM424.461 32.0014V43.7399H396.913V109.72H381.917V43.7399H354.369V32.0014H424.461ZM500.984 32.0014V43.7399H465.827V64.1571H499.484V75.8956H465.827V97.9818H501.761V109.72H450.831V32.0014H500.984ZM571.453 31C575.859 31 580.172 31.5007 584.393 32.5021C588.615 33.5035 593.169 35.2095 598.056 37.6203V51.751C593.28 49.0064 588.864 47.0222 584.81 45.7983C580.756 44.5744 576.525 43.9624 572.119 43.9624C566.602 43.9624 561.622 45.1029 557.179 47.3838C552.736 49.6648 549.283 52.8822 546.821 57.0361C544.358 61.1901 543.127 65.8075 543.127 70.8887C543.127 76.0811 544.349 80.7356 546.793 84.8525C549.236 88.9693 552.68 92.1496 557.123 94.3935C561.566 96.6374 566.565 97.7593 572.119 97.7593C576.377 97.7593 580.441 97.1473 584.31 95.9234C588.179 94.6994 593.058 92.4927 598.945 89.3031V103.434C593.909 106.067 589.281 107.94 585.06 109.053C580.839 110.165 575.914 110.722 570.286 110.722C562.103 110.722 554.791 109.09 548.348 105.826C541.905 102.562 536.842 97.8613 533.158 91.7231C529.473 85.5849 527.631 78.8627 527.631 71.5563C527.631 63.7306 529.529 56.7024 533.324 50.4715C537.119 44.2406 542.34 39.4377 548.987 36.0626C555.633 32.6875 563.121 31 571.453 31Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#links {
  font-family: 'menlo';
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

a.link {
  color: var(--grey);
  text-decoration: none;
}

a.link:hover {
  color: var(--yellow);
  text-decoration: none;
}

.blue {
  color: var(--blue);
}

#terminal {
  width: 880px;
  height: 5000px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.xterm .xterm-viewport {
  overflow-y: visible;
}
